/* @import url("http://fonts.googleapis.com/css?family=Kanit"); */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;/*用于控制flex容器中项目在主轴上的对齐方式。当设置为 center 时，项目将在主轴上居中对齐。*/
    align-items: center;/*设置交叉轴上的项目对齐方式为居中对齐,当设置为 center 时，子元素在垂直方向上居中排列*/
    background-color: #000000;
    user-select: none;/*用于控制用户是否可以选择文本。当设置为 none 时，用户无法选择页面上的文本*/
}

.clock {
    display: flex;
}

.clock p {
    width: 95px;
    font-size: 150px;
    color: #ffc0cb;
    text-align: center;
    font-family: "Kanit";
    font-weight: 900;
    text-shadow: 0 1px 0 #712ea0,
    0 2px 0 #712ea0,
    0 3px 0 #712ea0,
    0 4px 0 #712ea0,
    0 5px 0 #712ea0,
    0 6px 0 #712ea0,
    0 7px 0 #712ea0,
    0 8px 0 #712ea0,
    0 0 5px rgba(231, 156, 156, 0.05),
    0 -1px 3px rgba(231, 156, 156, 0.2),
    0 9px 9px rgba(231, 156, 156, 0.3),
    0 12px 12px rgba(231, 156, 156, 0.3),
    0 15px 15px rgba(231, 156, 156, 0.3);
}




/*字体*/
/* thai (泰文)*/
@font-face {
    font-family: 'Kanit';/*定义一个名为"Kanit"的字体*/
    font-style: normal;/*样式为正常*/
    font-weight: 400;/*权重*/
    src: url(https://fonts.gstatic.com/s/kanit/v15/nKKZ-Go6G5tXcraBGwCYdA.woff2) format('woff2');/*字体文件的URL*/
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;/*Unicode范围，Unicode范围定义了字体文件中所支持的字符编码范围。*/
  }
  /* vietnamese(越南文) */
  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/kanit/v15/nKKZ-Go6G5tXcraaGwCYdA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext(拉丁) */
  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/kanit/v15/nKKZ-Go6G5tXcrabGwCYdA.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin(拉丁,西欧语言中使用的字母和符号) */
  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/kanit/v15/nKKZ-Go6G5tXcraVGwA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }